<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Content/Site.css">
</head>
<body>
    <main-application></main-application>
    <script src="../Scripts/menu/ApplicationMenu.js" language="javascript" type="text/javascript"></script>
    <script src="../Scripts/menu/MenuItem.js" language="javascript" type="text/javascript"></script>
    <script src="../Scripts/Application.js" language="javascript" type="text/javascript"></script>
    <script src="../Scripts/form/DrawingCanvas.js" language="javascript" type="text/javascript"></script>
    <script src="../Scripts/form/ApplicationInput.js" language="javascript" type="text/javascript"></script>
    <script src="../Scripts/PredictionModule.js" language="javascript" type="text/javascript"></script>
</body>
</html>
