/.vs/simpleJS3/v15/*.suo
/simpleJS3/obj/Debug/*.cache
/simpleJS3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/config/applicationhost.config
/simpleJS3/obj/Debug/simpleJS3.csprojResolveAssemblyReference.cache
/simpleJS3/obj/Debug/simpleJS3.dll
/simpleJS3/obj/Debug/simpleJS3.pdb
/simpleJS3/bin/simpleJS3.dll
/simpleJS3/bin/simpleJS3.pdb
