/.vs/simpleJS3/v15/*.suo
/simpleJS3/obj/Debug/*.cache
/simpleJS3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/config/applicationhost.config
/simpleJS3/obj/Debug/*.*
/.idea
/simpleJS3/Scripts/.idea
/simpleJS3/bin/simpleJS3.dll
/simpleJS3/bin/simpleJS3.pdb
